@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Great+Vibes&family=Montserrat:wght@100&family=Oswald:wght@200&family=Pacifico&family=Roboto:wght@300&display=swap');

h1,
h2,
h3
h4{
	font-family: 'Montserrat', sans-serif;
	margin: 10px 0;
}

h1{
	font-size: 4em;
}

h2{
	font-size: 3em;
}

h3{
	font-size: 2.4em;
}
h4{
	font-size: 2em;
}

/* fondo articulos/nosotros */

.nosotrosArticulos{
	height: auto;
	margin: 20px auto;
	border-style: double;
	border-width: 5px;
	border-color: #656565;	
	padding: 20px 10px;
	overflow-y: scroll;
	max-height: 250px;
}

/* pseudo clases */
li:first-child{
	font-family: 'Montserrat', sans-serif;
	color: white;
}


/* backs */

.backFooter
{
	background-image: url(../assets/img/fondo.png);
	color: white;		
}

body {
	background-image: url(../assets/img/fondo.png);
	background-size: cover;
	height: 100vh;
}

/*nav */
#botonera{
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.nav-link{
color: white;
}

.dropdown-item{
color: white;
}


/* botonera */

#botonera img{
	width: 200px;
	animation-name: shake;
	animation-duration: 10s;
}


/* formulario */
#formulario{
	color: white;
}

/* animaciones */

@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
	}
}

.linear-gradient{
	background: rgb(111,115,149);
	background: linear-gradient(90deg, rgba(111,115,149,1) 0%, rgba(79,81,92,1) 28%, rgba(212,232,235,1) 62%, rgba(122,125,145,1) 83%, rgba(71,75,99,1) 100%);
}

.transform:hover{
	transform: translate(10px, 10px);
	cursor: pointer;
}

.transform2:hover{
	transform: translate(-5px, -5px);
	cursor: pointer;
}

#botonera li a{
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s;
}

#botonera li a:hover{
	color: white;
	font-weight: 600;
	background-size: 100% 2px;
}

#cartelera img{
	width: 100px;
	height: 100px;
}


/* media queries */

 @media (min-width 280px) and (max-width 1203px){
	#botonera img[src="assets/img/logo.png"]{
		width: 150px;
	}
} 

@media screen and (min-width: 280px) {
	#cartelera img{
	width: 150px;
	height: 200px;
}

@media screen and (min-width: 305px) {
	#cartelera img{
	width: 175px;
	height: 275px;
}

@media screen and (min-width: 355px) {
	#cartelera img{
	width: 200px;
	height: 300px;
}

@media screen and (min-width: 405px) {
	#cartelera img{
	width: 275px;
	height: 350px;
}

@media screen and (min-width: 555px) {
	#cartelera img{
	width: 300px;
	height: 375px;
}

@media screen and (min-width: 605px) {
	#cartelera img{
	width: 350px;
	height: 400px;
}

@media screen and (min-width: 705px) {
	#cartelera img{
	width: 400px;
	height: 450px;
}

@media screen and (min-width: 805px) {
	#cartelera img{
	width: 470px;
	height: 500px;
}

@media screen and (min-width: 945px) {
	#cartelera img{
	width: 500px;
	height: 500px;
}

@media screen and (min-width: 1005px) {
	#cartelera img{
	width: 600px;
	height: 600px;
}

@media screen and (min-width: 1205px) {
	#cartelera img{
	width: 625px;
	height: 625px;
}

@media screen and (min-width: 1255px) {
	#cartelera img{
	width: 630px;
	height: 630px;
}