@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Great+Vibes&family=Pacifico&family=Roboto:wght@300&display=swap');

{
	margin: 0;
	padding: 0;
}


/* selector de etiqueta */
html{
	font-size: 62.5%;
}
/* selector de grupo */
h1{
	color: #9596C8;
	font-size: 6rem;
	font-family: 'Amatic SC', cursive;
	text-decoration: underline;
}
h2,h3{
	color: mediumblue;
	font-size: 4rem;
	font-family: 'Amatic SC', cursive;	
}
/* texto index */

article p{
	color: #22308F;
	font-weight: 300;
	font-size: 2rem;
	line-height: 2.4rem;
	font-family: 'Roboto', sans-serif;
}

/* boleteria cuadro */

main section div {
	color: #22308F;
	font-weight: 300;
	font-size: 2rem;
	line-height: 2.4rem;
	font-family: 'Roboto', sans-serif;
}

/* tabla cartelera */

main section table {
	color: #22308F;
	font-weight: 300;
	font-size: 2rem;
	line-height: 2.4rem;
	font-family: 'Roboto', sans-serif;
}


/* background pagina */

body {
	background-image: url(../assets/img/flower.png);
	background-size: cover;
}
/* texto footer */

footer h4 {
	color: #8793F4;
	font-size: 4rem;
	font-family: 'Amatic SC', cursive;
}

/* .contenedor{
	display: grid;
	grid-template-columns: 20% 60% 20%;	
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "head head head" "main main aside" "footer footer footer";
	grid-column-gap: 5px;
} */

.contenedor{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20vh 80vh 90vh 10vh;
	grid-template-areas: "head" "main" "aside" "footer";
	grid-column-gap: 5px;
}

/* nombres areas layout */

#botonera{
	grid-area: head;
}

#centro{
	grid-area: main;
}

.centro2 img{
	width: 100px;
	max-height: 200px;
}

#aside{
	grid-area: aside;
}

#pie{
	grid-area: footer;
}

/* selector de clase */

.textCenter{
	text-align: center;
}
.textRight{
	text-align: right;
}
.textLeft{
	text-align: left;
}

.textItalic{
	font-style: italic;
}

.w100{
	width: 100%;
}

/* fondo articulos/nosotros */

.nosotrosArticulos
{
	width: 90%;
	height: auto;
	margin: 20px auto;
	border-style: double;
	border-width: 5px;
	border-color: #1E63B9;
	background-color: #8793F4;	
	padding: 20px 10px;
	overflow-y: scroll;
	max-height: 250px;
}
/* back del footer */

.backFooter
{
	background-image: url(../assets/img/flower.png);		
}


.encabezado nav{
	width: 90%;
	height: auto;
	/*margin: 20px auto;*/
	border-style: solid;
	border-width: 5px;
	border-color: #1E63B9;
	background-color: #8793F4;	
	padding: 20px 10px;
} 

.encabezado nav ul{
	/* display: inline-block; */
	/* margin-left: 30px; */
	background-color: #8793F4;
}


.encabezado nav ul li{
	/* display: inline-block; */
	/* margin-right: 50px; */
	/* height: 20px; */
	/* vertical-align: middle; */
	/* margin-top: -50px; */
	list-style: none;
	font-family: 'Roboto', sans-serif;
}

.encabezado nav ul li a{
	text-decoration: none;
	color:#FFFFFF  ;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
.encabezado nav ul li a:hover{
	color: black;
	font-weight: 600;
} 

/*carrusel */

.carrusel {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.carruselMenu {
	display: none;
}

.carrusel ul {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 350px;
}

.carruselFotos img {
	border: 4px solid black;	
	width: 200px;
	height: 150px;
	object-fit: contain;
	background: black;		

}

.carruselFotos {
	display: flex;
	gap: 10px;
	overflow: auto;
}

/* termina carrusel */

.textoResaltar {
	color: #FFFFFF;
	font-size: 3rem;
	font-family: 'Amatic SC', cursive;
	text-decoration: underline;
	}


/* botonera */

.botonera{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.botonera img{
	width: 250px;
}

/* posicion de los elementos */
.justify-items{
	justify-items: center;
}

.align-items{
	align-items: center;
}

/* animaciones */




/* media queries */

@media screen and (min-width: 360px) {
	.carruselFotos img {
	width: 265px;
	height: 250px;
	}
	.carrusel ul {
		max-width: 280px;
	}
	.centro2 img{
		width: 100px;
		max-height: 200px;
	}
}

@media screen and (min-width: 390px) {
	.carruselFotos img {
	width: 300px;
	height: 200px;
	}
	.carrusel ul {
		max-width: 300px;
	}
	.contenedor{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 15vh 75vh 10vh;
	grid-template-areas: "head head head" "main main aside" "footer footer footer";
	grid-column-gap: 5px;
	}

}

@media screen and (min-width: 500px) {
	.carruselFotos{
		overflow: hidden;	
	}
	.carrusel ul {
		max-width: 400px;
	}
	.carruselFotos img {
	width: 350px;
	height: 200px;
	}
	.carruselMenu{
		display: block;
	}
	.carruselMenu img {
		width: 50px;
		height: 40px;
		border: 10px solid black;
		box-sizing: border-box;
	}
	.carruselMenu img:hover {
		border: none;
	}
	.centro2 img{
	width: 100px;
	max-height: 200px;
}
}

@media screen and (min-width: 768px) {
	.carruselFotos img {
	width: 500px;
	height: 400px;
	}
	.carrusel ul {
		max-width: 500px;
	}
	.botonera img {
		width: 350px;
	}
	.contenedor{
	}
	.centro2 img{
		width: 200px;
		max-height: 300px;
	}
}

@media screen and (min-width: 912px) {
	.carruselFotos img {
	width: 700px;
	height: 500px;
	}
	.carrusel ul {
		max-width: 700px;
	}
	.botonera img {
		width: 450px;
	}
	.contenedor{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto auto;
	grid-template-areas: "head head head" "main main main" "aside aside aside" "footer footer footer";
	grid-column-gap: 5px;
	}
	.centro2 img{
	width: 250px;
	max-height: 400px;
}
}

@media screen and (min-width: 1024px) {
	.carruselFotos img {
	width: 800px;
	height: 600px;
	}
	.carrusel ul {
		max-width: 900px;
	}
	.botonera img {
		width: 550px;
	}
	.centro2 img{
	width: 250px;
	max-height: 400px;
}
}

@media screen and (min-width: 1280px) {
	.carruselFotos img {
	width: 1000px;
	height: 900px;
	}
	.carrusel ul {
		max-width: 1000px;
	}
	.botonera img {
		width: 600px;
	}
	.centro2 img{
	width: 400px;
	max-height: 500px;
}
}