@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Great+Vibes&family=Montserrat:wght@100&family=Oswald:wght@200&family=Pacifico&family=Roboto:wght@300&display=swap');

$fontMain:'Montserrat', sans-serif;
$fontSecundary:'Tangerine', cursive;
$primaryColor:#A1A3D0;

// variable textos

$textXl:4em;
$textLg:3em;
$textMd:2.4em;
$textSm:1.5em;

//map

$tamaño: (
	'uno':$fontMain,
	'dos':$textLg,
	'tres':$textMd,
	'cuatro':$textSm);

h1{
	font-size: map-get($map:$tamaño,$key:'uno');
}

h2{
	font-size: map-get($map:$tamaño,$key:'dos');
}

h3{
	font-size: map-get($map:$tamaño,$key:'tres');
}

h4{
	font-size: map-get($map:$tamaño,$key:'cuatro');
}
