<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Boleteria - Cine Victoria</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="contenedor">
		<header class="encabezado" id="botonera">
			<!-- inicia nav -->
			<nav>
				<ul class="botonera" style="height: 50px;">
					<li><a href="../index.html"><img src="../assets/img/logo.png" alt="logo cine victoria"></a></li>
					<li><a href="cartelera.html">Cartelera</a></li>
					<li><a href="futurosestrenos.html">Futuros Estrenos</a></li>
					<li><a href="boleteria.html">Boleteria</a></li>
					<li><a href="preciopromo.html">Promociones</a></li>
					<li><a href="#contacto">Contacto</a></li>
					<li><a href="cuenta">Mi cuenta</a></li>
				</ul>
			</nav>
			<!-- termina nav -->
		</header>
	<!-- inicia contenido principal -->
	<main class="textCenter" id="centro">
		<h1 class="textCenter">Boleteria</h1>
	<img src="../assets/img/boleteria.jpg" alt="boleteria" class="text">
	</main>
	<!-- cierra main -->
<aside class="textCenter nosotrosArticulos" id="aside">
			<div>
				<form action="envio.php" method="post">
					<fieldset>
						<legend>Qué película vas a ver?</legend>
						<label for="pelicula">Nombre de la película</label>
						<input type="text" placeholder="Vertigo" name="pelicula" id="pelicula">
						<br>
						<label for="dia">Día</label>
						<input type="text" name="dia" id="dia">
						<br>
						<label for="asiento">Butaca</label>
						<input type="text" name="butaca" id="butaca">
					</fieldset>
					<fieldset>
						<legend>Info del pedido</legend>
						<label for="entrada">Entrada estreno</label>
						<input type="checkbox" value="entradaestreno" id="entradaestreno">
						<br>
						<label for="entrada">Entrada futuro estreno</label>
						<input type="checkbox" value="entradafuturoestreno" id="entradafuturoestreno">
					</fieldset>
					<fieldset>
						<legend>Entrega de entrada</legend>
						<label for="domicilio">Envío a domicilio</label>
						<input type="radio" name="envio" id="domicilio" value="domicilio" id="domicilio">
						<br>
						<label for="local">Retiro por local</label>
						<input type="radio" name="retiro" id="local" value="local" id="local">
						<br>
						<select name="localidad" id="localidad">
							<option value="berisso">Berisso</option>
							<option value="laplata">La Plata</option>
							<option value="ensenada">Ensenada</option>
							<input type="submit" value="Enviar">
							<input type="reset" value="Cancelar">
						</select>
					</fieldset>
				</form>
				<!-- termina form -->
			</div>
</aside>
	<footer class="textCenter" id="pie"> 
		<article class="backFooter">
		<h4>Seguinos en nuestras redes</h4> 
		<a href="https://goo.gl/maps/EYf2qaEZzpHySpb16" target="_blank">
			<img src="../assets/img/ubicacion.png" alt="ubicacion" height="80px" width="80px">
		</a>
		<a href="https://facebook.com" target="_blank">
			<img src="../assets/img/facebook.png" alt="seguinos en facebook" height="70px" width="70x">
		</a>
		<a href="https://twitter.com" target="_blank">
			<img src="../assets/img/twitter.png" alt="seguinos en twitter" height="70px" width="70px">
		</a>
		<a href="https://instagram.com" target="_blank">
			<img src="../assets/img/ig.png" alt="seguinos en instagram" height="65px" width="65px">
		</a>
		</article>
	</footer>
</body>
</html>