<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Futuros Estrenos - Cine Victoria</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="contenedor">
		<header class="encabezado" id="botonera">
			<!-- inicia nav -->
			<nav>
				<ul class="botonera" style="height: 50px;">
					<li><a href="../index.html"><img src="../assets/img/logo.png" alt="logo cine victoria"></a></li>
					<li><a href="cartelera.html">Cartelera</a></li>
					<li><a href="futurosestrenos.html">Futuros Estrenos</a></li>
					<li><a href="boleteria.html">Boleteria</a></li>
					<li><a href="preciopromo.html">Promociones</a></li>
					<li><a href="#contacto">Contacto</a></li>
					<li><a href="cuenta">Mi cuenta</a></li>
				</ul>
			</nav>
			<!-- termina nav -->
		</header>
	<!-- inicia contenido principal -->
<main class="textCenter" id="centro">
		<h1 class="textCenter">Futuros Estrenos</h1>
		<a href="./boleteria.html">
	<img src="../assets/img/estreno1.jpg" alt="Tenet" height="500px" width="500px" border="3px">
	<img src="../assets/img/estreno2.jpg" alt="The House That Jack Built" height="500px" width="500px" border="3px">
	<img src="../assets/img/estreno3.jpg" alt="Scream" height="500px" width="500px" border="3px">
		</a>
</main>
<!-- cierra main -->
<aside class="textCenter nosotrosArticulos" id="aside">
			<table class="nosotrosArticulos">
				<tr>
					<th class="textoResaltar">Pelicula</th> 
					<th class="textoResaltar">Dia</th>
					<th class="textoResaltar">Precio</th>
				</tr>
				<tr>
					<td>Tenet</td> 
					<td>Martes 22</td>
					<td>$1000</td>
				</tr>
				<tr>
					<td>The House That Jack Built</td> 
					<td>Miercoles 23</td>
					<td>$800</td>
				</tr>
				<tr>
					<td>Scream</td> 
					<td>Viernes 25</td>
					<td>$1100</td>
				</tr>
			</table>
				<a href="./boleteria.html">
				<p class="textoResaltar">Clickea aquí o en la imágen de una película para ser redirigido hacia la boletería y reservá tu entrada</p>			
				</a>
</aside>
	
	<footer class="textCenter" id="pie"> 
		<article class="backFooter">
		<h4>Seguinos en nuestras redes</h4> 
		<a href="https://goo.gl/maps/EYf2qaEZzpHySpb16" target="_blank">
			<img src="../assets/img/ubicacion.png" alt="ubicacion" height="80px" width="80px">
		</a>
		<a href="https://facebook.com" target="_blank">
			<img src="../assets/img/facebook.png" alt="seguinos en facebook" height="70px" width="70x">
		</a>
		<a href="https://twitter.com" target="_blank">
			<img src="../assets/img/twitter.png" alt="seguinos en twitter" height="70px" width="70px">
		</a>
		<a href="https://instagram.com" target="_blank">
			<img src="../assets/img/ig.png" alt="seguinos en instagram" height="65px" width="65px">
		</a>
		</article>
	</footer>
</body>
</html>